# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# Node
node_modules/

# Alembic cache
*.log

# OS files
.DS_Store
Thumbs.db